<body>
  <header class="header">
    <div class="title-right">
      <h2>Fit Alarm</h2>
    </div>
    <div class="title-left">
      <h2>Advertencias</h2>
    </div>
  </header>
  
  <mat-divider></mat-divider>
  
  
  <div class="layout">
    <div class="sidebar">
        <div class="item">Panel</div>
        <div>
          <button mat-fab class="naranja" id="big-fab">
            <mat-icon class="white-icon">stars</mat-icon>
          </button>
        </div>
        <div class="item">Recomendaciones</div>
        <div>
          <button mat-fab class="naranja" id="big-fab" routerLink="/recomendaciones">
            <mat-icon class="white-icon" >check_box</mat-icon>
          </button>
        </div>
        <div class="item">Advertencias</div>
        <div>
          <button mat-fab class="rojo" id="big-fab">
            <mat-icon class="white-icon">error</mat-icon>
          </button>
        </div>
    </div>
    <div class="main-content">
        
        <mat-button-toggle-group
          [hideSingleSelectionIndicator]="true"
          >
          <mat-button-toggle class="recomendacion-button">No has usado Alarma Hidratación #1</mat-button-toggle>
          <mat-button-toggle class="descartar-button">Omitir</mat-button-toggle>
          <mat-button-toggle class="aceptar-button">Reprogramar</mat-button-toggle>
        </mat-button-toggle-group>

        <mat-button-toggle-group
          [hideSingleSelectionIndicator]="true"
          >
          <mat-button-toggle class="recomendacion-button">No has usado Alarma Caminar # 4</mat-button-toggle>
          <mat-button-toggle class="descartar-button">Omitir</mat-button-toggle>
          <mat-button-toggle class="aceptar-button">Reprogramar</mat-button-toggle>
        </mat-button-toggle-group>

        <mat-button-toggle-group
          [hideSingleSelectionIndicator]="true"
          >
          <mat-button-toggle class="recomendacion-button">No caminaste todos los pasos</mat-button-toggle>
          <mat-button-toggle class="descartar-button">Omitir</mat-button-toggle>
          <mat-button-toggle class="aceptar-button">Reprogramar</mat-button-toggle>
        </mat-button-toggle-group>

        <mat-button-toggle-group
          [hideSingleSelectionIndicator]="true"
          >
          <mat-button-toggle class="recomendacion-button">Debes aumentar tu consumo de agua</mat-button-toggle>
          <mat-button-toggle class="descartar-button">Omitir</mat-button-toggle>
          <mat-button-toggle class="aceptar-button">Reprogramar</mat-button-toggle>
        </mat-button-toggle-group>
  
    </div>
  </div>
  </body>