<div class="container-fluid">
    <div class="row">
      <!-- Left Side with Background and Image -->
      <div class="col-md-6 d-flex align-items-center justify-content-center position-relative" style="height: 100vh;">
        <!-- Fondo PNG -->
        <div class="background" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url('assets/Background.png') no-repeat center center; background-size: cover;"></div>

        <!-- Título en la parte superior -->
        <h2 class="text-dark" style="position: absolute; top: 20px; left: 50%; transform: translateX(-50%); z-index: 2; white-space: nowrap;">Inicio sesión a Fit Alarm</h2>


        <!-- Imagen PNG superpuesta -->
        <img src="assets/Saly-1.png" alt="Overlay Image" class="overlay-image" style="position: relative; z-index: 1;">


      </div>


      <!-- Right Side with Login Form -->
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <div class="card" style="width: 100%; max-width: 400px;">
            <div class="card-body">
                <h5 class="card-title text-center">Iniciar Sesión</h5>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group" style="margin-bottom: 20px;"> <!-- Ajustar el margen aquí -->
                        <input type="email" id="email" formControlName="email" class="form-control"
                               style="background-color: #FF7A3D;" placeholder="Correo" required>
                    </div>
                    <div class="form-group" style="margin-bottom: 20px;"> <!-- Ajustar el margen aquí -->
                        <input type="password" id="password" formControlName="password" class="form-control"
                               style="background-color: #FF7A3D;" placeholder="Contraseña" required>
                    </div>
                    <!-- Botones para Iniciar Sesión y Registrarse -->
                    <div class="d-flex flex-column align-items-center">
                        <button type="submit" class="btn" style="background-color: #FF423D; color: white; max-width: 200px; width: 100%; margin-bottom: 10px;">Ingresar</button>
                        <button type="button" class="btn" style="background-color: #FF423D; color: white; max-width: 200px; width: 100%;" (click)="goToRegister()">Registrarse</button>
                    </div>
                </form>
            </div>
        </div>
    </div>





    </div>
  </div>

