<div class="container-fluid" style="position: relative; height: 100vh;">
  <!-- Fondo PNG -->
  <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url('assets/Background.png') no-repeat center center; background-size: cover;"></div>

  <!-- Título Superior -->
  <h1 class="text-center" style="position: absolute; top: 50px; left: 50%; transform: translateX(-50%); z-index: 2; color: black;">LOGIN EXITOSO</h1>

  <!-- Imagen Superpuesta -->
  <img src="assets/Saly-1.png" alt="Imagen de Éxito" class="img-fluid" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 2;">

  <!-- Botón -->
  <div class="text-center" style="position: absolute; bottom: 100px; left: 50%; transform: translateX(-50%); z-index: 2;">
      <button class="btn btn-primary" style="background-color: #FF423D; color: white;" (click)="goToRecomendaciones()">INGRESAR</button>
  </div>

  <!-- Mensaje de redirección -->
  <div class="text-center" style="position: absolute; bottom: 50px; left: 50%; transform: translateX(-50%); z-index: 2; color: black;">
      <p>O espera a ser redirigido en 5 segundos...</p>
  </div>
</div>




