body {
    position: relative;
    margin: 0;
    height: 100vh; /* Ocupar toda la altura de la página */
    background-color: transparent; /* Asegura que el fondo detrás de la imagen sea visible */
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/fondo_relojes.png'); /* Ruta a tu imagen */
    background-repeat: repeat-x; /* Repetir horizontalmente */
    background-size: auto 100%; /* Ajustar altura y repetir horizontalmente */
    opacity: 0.05; /* 5% de opacidad */
    z-index: -1; /* Mantiene la imagen detrás del contenido */
}

.header {
    background-color: #FF7A3D; /* Color de fondo */
    color: black; /* Color del texto */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Centrar texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); /* Sombra tipo drop shadow */
    position: relative; 
    z-index: 1; 
    height: 189px;
}

.title-left {
    text-align: left;
    padding-left: 19%;
}

.title-right {
    text-align: right;
    padding-right: 15%;
}


.contenedor-principal {
    display: flex;
    flex-direction: column;
    min-height: 50vh; /* Altura completa de la ventana */
    width: 70vw;
    margin: auto;
    margin-top: 20px;
  }
  
  .contenedor-superior {
    background-color: lightblue; /* Color del contenedor superior */
    height: 20%; /* Ocupa un 20% de la altura total */
    width: 100%; /* Ocupa el ancho completo */
    padding: 40px 0;
  }
  
  .contenedor-abajo {
    display: flex;
    flex: 1;
  }
  
  .contenedor-izquierda {
    background-color: lightcoral; /* Color del contenedor izquierdo */
    width: 40%; /* Ocupa el 50% del ancho del contenedor principal */
  }
  
  .contenedor-derecha {
    display: flex;
    flex-direction: column;
    width: 60%; /* Ocupa el 50% del ancho del contenedor principal */
  }
  
  .contenedor-arriba-derecha {
    background-color: lightgreen; /* Color del contenedor derecho superior */
    flex: 1; /* Ocupa el 50% de la altura del contenedor derecho */
    padding-left: 10%;
  }
  
  .contenedor-abajo-derecha {
    background-color: lightpink; /* Color del contenedor derecho inferior */
    flex: 1; /* Ocupa el 50% de la altura del contenedor derecho */
    padding-left: 10%;
  }
  